/* ====================================================================================================
 * Author : moonjayli
 * Date : 2014-10-27
 * ==================================================================================================== */
body,h1,h2,h3,h4,h5,h6,blockquote,p,pre,
dl,dd,menu,ol,ul,
caption,th,td,
form,fieldset,legend,input,button,textarea{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.6 \5FAE\8F6F\96C5\9ED1,tahoma,sans-serif;color:#52505a;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
em,b,i{font-style:normal;}
menu,ol,ul{list-style:none;}
a{text-decoration:none;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;outline:none;}
table{border-collapse:collapse;border-spacing:0;}
td,th,ul,ol{padding:0;}
a:active,a:focus{outline:none;blr:expression(this.onFocus=this.blur());}
/* Float Clear */
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.hdn{display:none;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.mr14{margin-right:14px;display:inline;}
.mt50{margin-top:50px;}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
/* ------- s --------*/
.u_map_btn .s,
.u_login_user .mail .s1,
.u_login_user .mail .s2,
.u_login_user .name .s,
.ico_vip,
.m_footer_box .pic,
.m_news .tab_hd .tab_cur a,
.u_news_list a.more .s,
.u_enter_list li .io,
.u_phonegame_hd .tit .s,
.u_clientgame_hd .tit .s,
.u_pagegame_hd .tit .s,
.btn_more .s,
.u_rbar_list li a,
.u_user_hd .mail .s2,
.u_user_num .rank .n .n_up,
.u_user_num .rank .n .n_down,.dia_close,.dia_getCode{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon_index.png) no-repeat;}

/* vip icon */
.ico_vip{width:16px;height:14px;display:inline-block;vertical-align:middle;margin:0 8px 0 2px;background-position:0 -20px;}
.ico_vip0{background-position:-170px -20px;}
.ico_vip1{background-position:-16px -20px;}
.ico_vip2{background-position:-34px -20px;}
.ico_vip3{background-position:-51px -20px;}
.ico_vip4{background-position:-68px -20px;}
.ico_vip5{background-position:-85px -20px;}
.ico_novip0{background-position:0 -20px;}
.ico_novip1{background-position:-102px -20px;}
.ico_novip2{background-position:-119px -20px;}
.ico_novip3{background-position:-136px -20px;}
.ico_novip4{background-position:-153px -20px;}
/* ------- S头部top条 --------*/
#g_topbar{position:relative;z-index:20;height:36px;line-height:36px;border-bottom:#cecdd2 1px solid;background:#fff;}
.m_topbar_box{width:1180px;margin:0 auto;height:36px;}
.m_topbar_box a{color:#52505a;}
.m_topbar_box a:hover{color:#f06a45;}
.m_topbar_box .reindex{float:left;color:#999;height:24px;line-height:24px;margin-top:6px;}
.m_topbar_box .reindex:hover{color:#999;}
/* ------- 登录 --------*/
.g_login_box{filter:alpha(opacity=88);opacity: 0.88;}
.u_login_user{height:36px;}
.u_login_user .mail .s1{float:left;width:5px;height:4px;margin:11px 0 0 4px;display:block;background-position:-37px 0;}
.u_login_user .mail .s2{float:left;width:12px;height:12px;margin:7px 4px 0 0;display:block;background-position:-20px 0;}
.u_login_user .mail .num{float:left;}
.u_login_user .mail,
.u_login_user .name,
.u_login_user .quit{float:left;height:24px;line-height:24px;margin-top:6px;margin-left:15px;display:inline;}
.u_login_user .name .s{float:right;width:5px;height:4px;margin:11px 0 0 4px;display:block;background-position:-37px 0;}

/* ------- 特权地图 --------*/
.m_map{position:relative;margin-left:20px;height:36px;}
.u_map_btn{width:80px;height:22px;line-height:22px;border:#d9d9d9 1px solid;text-indent:8px;display:inline-block;}
.u_map_btn .s{width:15px;height:15px;display:block;margin:4px 4px 0 0;}
.u_map_link{position:absolute;top:36px;right:0;z-index:10;width:440px;background:#fff;border:#e8e8e9 1px solid;border-top-color:#cecdd2;}
.u_map_link .list{float:left;width:110px;padding-bottom:5px;}
.u_map_link .list h3{background:#f3f3f5;padding-left:15px;}
.u_map_link .list a{width:95px;height:30px;line-height:30px;display:block;padding-left:15px;}
.u_map_link .list a.focus{color:#f06a45;}
/* ------- E头部top条 --------*/

/* ------- S头部导航条 --------*/
#g_nav{background:#fafafa;border-bottom:#468dff 2px solid;border-top:#ececec 1px solid;}
.m_nav_box{position:relative;width:1180px;height:150px;margin:0 auto;}
.m_nav_logo{position:absolute;left:0;top:20px;}
.m_nav_list{position:absolute;left:0;bottom:0;}
.m_nav_list li{float:left;position:relative;height:42px;zoom:1;}
.m_nav_list li a{width:104px;height:42px;line-height:42px;display:inline-block;margin-right:20px;font-size:16px;text-align:center;color:#52505a;}
.m_nav_list li a:hover{color:#468dff;}
.m_nav_list li.cur a{background:#468dff;color:#fff;}
.m_nav_code{position:absolute;right:50px;top:10px;z-index:1;}
/* ------- E头部导航条 --------*/

/* ------- S 右侧浮动 --------*/
#g_rbar{position:fixed;z-index:30;right:0;top:70%;margin-top:-72px;width:44px;height:152px;display:block;}
.u_rbar_list li{margin-bottom:10px;}
.u_rbar_list li a{width:44px;height:44px;display:block;text-indent:-9999px;}
.u_rbar_list li.rb1 a{background-position:-49px -241px;cursor:pointer;}
.u_rbar_list li.rb2 a{background-position:-49px -291px;}
.u_rbar_list li.rb3 a{background-position:-49px -341px;}
.u_rbar_list li.rb4 a{background-position:-305px -424px;}
.u_rbar_list li.rb1 a:hover{background-position:0 -241px;}
.u_rbar_list li.rb2 a:hover{background-position:0 -291px;}
.u_rbar_list li.rb3 a:hover{background-position:0 -341px;}
.u_rbar_list li.rb4 a:hover{background-position:-351px -424px;}
.u_rbar_list li.rb2 span{position:absolute;top:-15px;right:60px;padding:3px;background:#fff;border:#f06a45 2px solid;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
/* ------- E 右侧浮动 --------*/

/* ------- S 底部 --------*/
#footer_ied{text-align:center;padding:60px 0 20px 0;background:#eaeaea;border-top:#f7f7f7 1px solid;}
#footer_ied a{color:#6c6c6c;}
#footer_ied a:hover{text-decoration:underline;}
#g_footer{height:240px;background:#eaeaea;border-top:#dcdbdf 1px solid;border-bottom:#e3e3e3 1px solid;width:100%;}
.m_footer_box{width:1180px;margin:0 auto;padding-top:80px;}
.m_footer_box li{float:left;width:310px;margin-left:70px;display:inline;}
.m_footer_box .pic{width:86px;height:86px;display:block;margin:8px 15px 0 0;}
.u_footer_nav01 .pic{background-position:0 -40px;}
.u_footer_nav02 .pic{background-position:-91px -40px;}
.u_footer_nav03 .pic{background-position:-182px -40px;}
.m_footer_box .txt h3{font-size:22px;color:#4a4c59;}
.m_footer_box .txt p{font-size:16px;color:#aeaeae;line-height:24px;padding-right:30px;}
.m_footer_box p.blue{font-size:18px;color:#468dff;}
/* ------- E 底部 --------*/
/* ------- S 分页 --------*/
.pagination{text-align:center;padding:20px 0;line-height:42px;}
.pagination a,
.pagination .totalpage{display:inline-block;width:42px;height:42px;color:#666;margin-left:10px;border:#c5c5c5 1px solid;background:#fff;}
.pagination .totalpage{color:#7d7d7d;border:0 none;background:none;}
.pagination a:hover,
.pagination a.cur{background:#5a98fb;color:#fff;border:#2570e9 1px solid;}
.pagination .uppage{width:90px;}
.pagination .downpage{width:90px;}
/* ------- E 分页 --------*/
/* ------- S 屏幕宽度 --------*/
.widthSize1000 .m_topbar_box,
.widthSize1000 .m_nav_box,
.widthSize1000 .g_login_box,
.widthSize1000 .m_content_box,
.widthSize1000 .m_footer_box{width:960px;}
.widthSize1000 .u_adshow_prevbtn,
.widthSize1000 .u_adshow_nextbtn,
.widthSize1000 .m_enter,
.widthSize1000 .wlast{display:none;}
.widthSize1000 .m_footer_box li{margin-left:20px;width:300px;}
.widthSize1000 .m_attend{margin:26px 22px 0 0;}
.widthSize1000 .m_map{margin:-3px 22px 0;}
.widthSize1000 .m_nav_list li a{margin-right:10px;}
/* ------- E 屏幕宽度 --------*/

/* ------- S 边 --------*/
.ul_bor li{position:relative;float:left;}
.ul_bor li img{display:block;}
.ul_bor li a{width:222px;height:220px;display:block;border:#cccbd0 1px solid;}
.ul_bor li a:hover .s{color:#f06a45;}
.ul_bor li.long a{width:460px;}
.ul_bor li a:hover,
.ul_bor li.long a:hover{border-color:#f06a45;}
.ul_bor li .s{position:absolute;bottom:1px;left:1px;width:222px;height:40px;line-height:40px;display:block;background:#fff;filter:alpha(opacity=80);opacity: 0.80;text-align:center;font-size:14px;color:#3e3c46;border:0 none;}
.ul_bor li .s:hover{color:#f06a45;}
.ul_bor li.long .s{width:460px;}
.ul_bor li:hover a{border-color:#f06a45;}
.ul_bor li:hover .s{color:#f06a45;}
/* ------- top 条 --------*/
.m_guide_d{text-align:left;position:absolute;top:20px;right:-214px;width:200px;height:48px;padding:20px 10px 0 60px;background:url(http://ossweb-img.qq.com/images/tgclub/web201206/public/icon_guide.png) 0 -187px no-repeat;color:#398CD8;filter:alpha(opacity=90);opacity:0.9;-webkit-animation:moveUp 1s linear 3s 2;-moz-animation:moveUp 1s linear 3s 2;-ms-animation:moveUp 1s linear 3s 2;animation:moveUp 1s linear 3s 2;}
.tgClubTop .m_guide_d a{color:#f17134;font-weight:700;}@-webkit-keyframes moveUp{0%,10%,25%,40%,50%,100%{-webkit-transform:translateY(0);}20%{-webkit-transform:translateY(-10px);}30%{-webkit-transform:translateY(-5px);}}@-moz-keyframes moveUp{0%,10%,25%,40%,50%,100%{-webkit-transform:translateY(0);}20%{-webkit-transform:translateY(-10px);}30%{-webkit-transform:translateY(-5px);}}@-ms-keyframes moveUp{0%,20%,50%,80%,100%{-ms-transform:translateY(0);}40%{-ms-transform:translateY(-10px);}60%{-ms-transform:translateY(-5px);}}@keyframes moveUp{0%,20%,50%,80%,100%{transform:translateY(0);}40%{transform:translateY(-10px);}60%{transform:translateY(-5px);}}
.m_guide_d_close{width:18px;height:18px;}
.m_guide_d_close{float:right;position:absolute;top:5px;right:0;text-indent:-9999px;}
.fr{float:right;}
.icon_top_mail{width:22px;height:14px;display:inline-block;overflow:hidden;font-size:1px;color:#fff756;background:url(http://ossweb-img.qq.com/images/tgclub/web201206/public/icon_msg.png) no-repeat;line-height:14px;text-indent:-9999px;vertical-align:middle;margin-right:6px;}
.tgClubnav a.nlist_on{color:#ffff00;}
.m_guide_d a{color:#f17134;font-weight:700;cursor:pointer;}
.m_guide_d a:hover{color:#f17134;text-decoration:underline;}
/*-- 二级导航---*/
.m_nav_box .subnav{width:100px;height:160px;position:absolute;bottom:-162px;left:0;z-index:100;background:#fafafa;display:none; overflow:hidden; margin:0 auto;border:2px solid #468dff;border-top:0 none;}
.subnav ul{float:left; height:23px; line-height:23px; display:block; margin-left:120px; border:1px solid #dadada; white-space:nowrap;}
.subnav li{float:left; padding:0 20px; white-space:nowrap;}
.m_nav_box .m_nav_list .subnav a{width:100px;height:40px; line-height:40px;background:none;color:#52505a; white-space:nowrap; text-decoration:none; font-size:12px; font-family:"Microsoft YaHei"; font-weight:normal;}
.m_nav_box .m_nav_list .subnav a:hover{color:#f06a45;}

.m_nav_box .subnav2{width:100px;/* height:160px; */position:absolute;bottom: -42px;left:0;z-index:100;background:#fafafa;display:none;overflow:hidden;margin:0 auto;border:2px solid #468dff;border-top:0 none;}
.subnav2 ul{float:left; height:23px; line-height:23px; display:block; margin-left:120px; border:1px solid #dadada; white-space:nowrap;}
.subnav2 li{float:left; padding:0 20px; white-space:nowrap;}
.m_nav_box .m_nav_list .subnav2 a{width:100px;height:40px; line-height:40px;background:none;color:#52505a; white-space:nowrap; text-decoration:none; font-size:12px; font-family:"Microsoft YaHei"; font-weight:normal;}
.m_nav_box .m_nav_list .subnav2 a:hover{color:#f06a45;}
/* ------- S 弹窗 --------*/
.pop_dia{position:relative;width:530px;background:#fcfcfc;}
.pop_dia .dia_bd{padding:20px 0;}
.dia_close{background: url(http://ossweb-img.qq.com/images/tgclub/web201410/icon_page.png) no-repeat -314px -131px;position: absolute; top: 6px; right: 6px; width: 27px; height: 27px; text-indent: -9999px;}
.dia_tit{background:#5697ff;height:40px;line-height:40px;text-align:center;color:#fff;font-size:14px;}
.dia_action .item{clear:both;}
.dia_action .item-error{padding:1px 0px 1px 75px;color:#f32627;}
.dia_action .item label{display:inline-block;float:left;line-height:32px;margin-right:15px;text-align:right;vertical-align:middle;width:130px;}
.dia_action .item input.int{border:1px solid #ccc;font-size:14px;height:20px;padding:5px;vertical-align:middle;width:160px;line-height:20px;outline:none;}
.dia_action .item input.int:focus{border-color:#2570E9;}
.dia_action .item .remember{color:#666666;cursor:pointer;display:inline;float:none;font-size:12px;margin:0;text-align:left;width:auto;}
.dia_action .item .btn_int{border:0px solid #2277AA;border-radius:3px 3px 3px 3px;color:#FFFFFF;cursor:pointer;font-size:14px;font-weight:700;width:80px;height:30px;display:inline-block;line-height:32px;background:#1986cb;text-align:center;} 
.dia_action .item .error{height:18px;display:inline-block;padding:1px 0px 1px 12px;}
.dia_action .item .error{background-position:left -52px;color:#f32627;}
.dia_getCode{background: url(http://ossweb-img.qq.com/images/tgclub/web201410/icon_page.png) no-repeat -136px -131px;width: 86px; height: 32px; display: inline-block; vertical-align: middle; text-align: center; line-height: 32px; color: #666; margin-left: 5px; font-weight: 300;}
.dia_getCode:hover{color:#f06a45;}
.dia_action .item_tips{text-align:center;color:#ff754f;font-size:14px;}
.dia_action .cg{width:19px;height:19px;display:inline-block;vertical-align:middle;background-position:-227px -131px;margin-left:5px;}
.dia_action .item_btn{text-align:center;}
.dia_action .item_btn a{width:74px;height:28px;display:inline-block;line-height:28px;text-align:center;color:#7a7981;border:#cecdd2 1px solid;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-right:17px;}
.dia_action .item_btn a:hover{background:#ff754f;border-color:#e55932;color:#fff;}
.dia_action{position:relative;}
.item_alert{position:absolute;top:80px;right:10px;z-index:10;width:270px;background:#ffffe3;border:1px solid #f9cca3;padding:15px 10px 10px;display:none;}
.item_alert .close{position:absolute;right:7px;top:-1px;color:#ff6600;}
.item_alert a{color:#ff6600;}
.item_alert .s{background-position:-346px -131px;display:block;height:9px;left:226px;position:absolute;top:-9px;width:17px;}
#pop_dia01 .item label{width:156px;}
/* ------- 弹窗2 --------*/
.dia_success{text-align:center;}
.dia_success p{padding:50px 0;line-height:58px;color:#84d36c;font-size:20px;}
.dia_success .s{width:58px;height:58px;display:inline-block;vertical-align:middle;background-position:-251px -131px;margin-right:20px;}
.success_btn a{width:120px;height:28px;display:inline-block;line-height:28px;text-align:center;color:#7a7981;border:#cecdd2 1px solid;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.success_btn a:hover{background:#ff754f;border-color:#e55932;color:#fff;}
/* ------- 弹窗3 --------*/
.dia_action .dia_num{width:172px;height:32px;display:inline-block;line-height:32px;font-size:18px;color:#282828;vertical-align:middle;}
.dia_action .dia_help{margin-left:10px;color:#5494fa;}
.dia_action .dia_help:hover{color:#f06a45;}
/* ------- E 弹窗 --------*/
/*S 个人中心红点*/
.icon-dot-tip{display:inline-block;width:9px;height:9px;overflow:hidden;border-radius:50%;-webkit-border-radius:50%;position:absolute;background:url(http://ossweb-img.qq.com/images/tgclub/web201410/red.png) no-repeat;}
.m_nav_list .icon-dot-tip{left:80px;top:6px;}
.u_user_btn .cent{position:relative;}
.u_user_btn .icon-dot-tip{top:-3px;right:-3px;}
.m_topbar_box .icon-dot-tip{top:-7px;left:-4px;}
.u_login_user .ico_vip{margin:0 8px 0 12px;}
/*E 个人中心红点*/

/* ------- E 黑名单弹窗 --------*/
#block1 .dia-con{padding-top: 0px !important;height: 700px !important;width: 700px !important;border: 2px solid #3b7cd5;background: #eaf2ff;position: relative;font-family: "\5FAE\8F6F\96C5\9ED1"!important}
.dia-log .dia-con{padding-top: 0px !important;width: 700px !important;border: 2px solid #3b7cd5;background: #eaf2ff;position: relative;font-family: "\5FAE\8F6F\96C5\9ED1"!important}
.dia-log .dia-con .dia-tit{padding-left:25px;height: 60px;line-height:60px;background: #4f93ff;font-size: 20px;font-weight:bold;color: #ffffff;}
.dia-log .dia-con .dia-tit img{vertical-align: middle;}
.dia-log .dia-con .dia-tit span{margin-left: 5px;}
.dia-log .dia-con .dia-con1_top{padding:0px 10px;}
.dia-log .dia-con .dia-con1 .dia-xy{display: inline-block;width: 19px;height: 15px;background: url(http://ossweb-img.qq.com/images/tgclub/web201410/pop/sp.png) no-repeat -23px -75px;vertical-align: middle;_background: url(http://ossweb-img.qq.com/images/tgclub/web201410/pop/sp.png) no-repeat -23px -70px;}
.dia-log .dia-con .dia-con1_top .dia-sm{padding:20px 0px 20px 30px;font-size: 20px;color: #6b6b6b;border-bottom: 1px dashed #909398;}
.dia-log .dia-con .dia-con1_top .dia-sm p{height: 49px;background: url(http://ossweb-img.qq.com/images/tgclub/web201410/pop/sp.png) no-repeat -8px -13px;padding-left: 60px;line-height: 49px;font-weight: bold;}
.dia-log .dia-con .dia-con1{padding:0px 0px 30px 50px;}
.dia-log .dia-con .dia-con1 p{font-size: 20px;color: #6b6b6b;padding:10px 0px;line-height: 20px;}
.dia-log .dia-con .dia-con1 p span,.dia-log .dia-con .dia-con1 .dia-je{display: inline-block;width: 150px;float: left;}
.dia-log .dia-con .dia-con1 .dia-txt{width: 165px;padding-left:10px;height: 30px;background: #eaf2ff;border: 1px solid #6b6b6b;border-radius: 5px;}
.dia-log .dia-con .dia-con1 .dia-txtput{width: 135px;border: none;background: #eaf2ff;}
.dia-log .dia-con .dia-con1 .dia-on,.dia-log .dia-con .dia-con1 .dia-yuan.dia-on{border: 1px solid #468dff;}
.dia-log .dia-con .dia-con1 .dia-yuan{width: 165px;padding-left:10px;height: 30px;background: #eaf2ff;border: 1px solid #6b6b6b;border-radius: 5px;float: left;}
.dia-log .dia-con .dia-con1 p i{font-style:normal;font-size: 16px;color: #468dff;}
.dia-log .dia-con .dia-check{width: 480px;float:left;}
.dia-log .dia-con .dia-check td{font-size: 18px;color: #6b6b6b;}
.dia-log .dia-con .dia-check td span{margin-left:1px;}
.dia-log .dia-con .dia-w1{width: 80px;}
.dia-log .dia-con .dia-w2{width: 165px;}
.dia-log .dia-con .dia-w3{width: 115px;}
.dia-log .dia-con .dia-mr{margin-top: 10px;}
.dia-log .dia-con .dia-czqd{float: left;}
.dia-log .dia-con .dia-txtarea{width: 448px;height: 110px;}
.dia-log .dia-con .dia-btn{display:block;width: 230px;height: 60px;margin:30px auto 0px;border: 2px solid #468dff;text-align: center;line-height: 60px;font-size: 26px;color: #468dff;background: #eaf2ff;}
.dia-log .dia-con .dia-btn:hover{background: #d0e2ff;color: #1a72ff;}
.dia-log .dia-con .dia-close{text-indent: 0px !important;right:15px !important;top:-15px !important;font-size: 50px !important;font-weight: bold !important;color: #ffffff !important;position: absolute !important;background: none !important}
.dia-log .dia-con .dia-ft{font-size: 18px;color: #6b6b6b;}
.dia-log .dia-con .dia-sm1{border: none;padding-bottom: 0px;}
.dia-log .dia-pt{padding-bottom: 30px;}
.dia-log .dia-con .dia-con3{padding:20px 30px 30px;}
.dia-log .dia-con .dia-desp{font-size: 20px;color: #434242;}
.dia-log .dia-con .dia-desp span{margin-left: 15px;}
.dia-log .dia-con .dia-c:before,.dia-c:after {content:"";display:table}
.dia-log .dia-con .dia-c:after {clear:both}
.dia-log .dia-con .dia-c {zoom:1}

/*S 右侧导航*/
.r_nav_small{display: block;background:url(http://ossweb-img.qq.com/images/tgclub/web201410/hide_bg.png) no-repeat;width: 79px;height: 59px;position: absolute;right: 0;top:42px;}
.r_nav{background-color: #fff;border:1px solid #3078ec;width: 78px;position: absolute;right: 0;top:42px;display: none;}
.r_nav_lst{padding: 0;margin: 0;}
.r_nav_lst li{float: left;width: 100%;height: 75px;background:url(http://ossweb-img.qq.com/images/tgclub/web201410/line.png) no-repeat 50% 100%;}
.r_nav_lst a{display: block;width: 100%;height:74px;overflow: hidden;position: relative;}
.r_nav_lst_i1 a{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon1.png) no-repeat 50% 50%;text-indent: -9999em;}
.r_nav_lst_i2 a{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon2.png) no-repeat 50% 50%;text-indent: -9999em;}
.r_nav_lst_i3 a{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon3.png) no-repeat 50% 50%;text-indent: -9999em;}
.r_nav_lst_i4 a{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon4.png) no-repeat 50% 50%;text-indent: -9999em;}
.r_nav_lst_i5 a{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon5.png) no-repeat 50% 50%;text-indent: -9999em;}
.r_nav_lst_i7 a{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon7.png) no-repeat 50% 50%;text-indent: -9999em;}
.r_nav_lst_i8 a{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon8.png) no-repeat 50% 50%;text-indent: -9999em;}
/*.r_nav_lst_i1 a{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/icon1.png) no-repeat 50% 50%;text-indent: -9999em;}*/
.r_nav_lst a em{display: block;width: 17px;height: 17px; text-align: center;line-height: 17px; font-size: 12px;color: #f7f7f7;position: absolute;text-indent:0; background:url(http://ossweb-img.qq.com/images/tgclub/web201410/bg_dot.png) no-repeat;}
.r_nav_lst a em.em1{top:20px;right:18px;}
.r_nav_lst a em.em2{top:18px;right:20px;}
.r_nav_lst a em.em5{top:13px;right:12px;}
.r_nav_lst a:hover em{ display:none;}
.r_nav_lst a:hover{background: #fff;}
.r_nav_lst a:hover span{display: block;background-color: #468dff;width: 43px;height: 43px;border-radius:43px;text-align: center;line-height: 43px;margin: 15px auto 0;text-indent:0;font-size: 16px;color: #fafafa;}
.r_nav_lst a:hover em{text-indent: -9999em;}
.r_nav_lst_i6 a,.r_nav_lst_i6 a:hover{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/gotop.png) no-repeat 50% 50%;}
/*E 右侧导航*/

/* ------ S 神秘宝箱弹窗 ------ */
.xy-pop-spr {background: url(http://ossweb-img.qq.com/images/tgclub/web201410/personal_pop_spr.png) no-repeat;display: block;}
.xy-pop-gift-bubble {display: block;background-position: 0 -1112px; width: 200px; height: 54px; position: absolute; top:20px;right:-214px; padding: 20px 20px 0 60px; -webkit-animation:moveAndScaleUp 1s linear 1s 2; -moz-animation:moveAndScaleUp 1s linear 1s 2; -ms-animation:moveAndScaleUp 1s linear 1s 2; animation:moveAndScaleUp 1s linear 1s 2;}
.xy-pop-gift-bubble span {color: #fff; font-size: 14px; text-align: left;line-height: 1;}
.xy-pop-gift-bubble .xy-btn-get {font-size: 14px;color: #ffd612;text-decoration: underline;}
.xy-pop-gift-bubble .xy-btn-close {display: block; width: 22px; height: 22px; position: absolute; top: 0; right: 0;}
@-webkit-keyframes moveAndScaleUp { 0%, 10%, 25%, 40%, 50%, 100% { -webkit-transform: translateY(0); } 20% { -webkit-transform: translateY(-10px) scale(1.1); } 30% { -webkit-transform: translateY(-5px) scale(1.05); } } @-moz-keyframes moveAndScaleUp { 0%, 10%, 25%, 40%, 50%, 100% { -webkit-transform: translateY(0); } 20% { -webkit-transform: translateY(-10px) scale(1.1); } 30% { -webkit-transform: translateY(-5px) scale(1.05); } } @-ms-keyframes moveAndScaleUp { 0%, 20%, 50%, 80%, 100% { -ms-transform: translateY(0); } 40% { -ms-transform: translateY(-10px) scale(1.1); } 60% { -ms-transform: translateY(-5px) scale(1.05); } } @keyframes moveAndScaleUp { 0%, 20%, 50%, 80%, 100% { transform: translateY(0); } 40% { transform: translateY(-10px) scale(1.1); } 60% { transform: translateY(-5px) scale(1.05); } }
/* ------ E 神秘宝箱弹窗 ------ */

/* S 神秘宝箱弹窗 */
.xy-pop-gift {position: fixed;width: 600px;height: 620px;box-shadow: rgba(110,166,255,0.76) 0 7px 50px 5px;background: #fff;font-family: "\5FAE\8F6F\96C5\9ED1", Arial;outline: none;}
.xy-pop-gift h2 {font-size: 22px;font-weight: bold;color: #5596fa;text-align: center;background: #eef2f8;width: 100%;line-height: 70px;}
.xy-pop-gift .xy-input-box {width: 384px;height: 70px; margin: 0 auto;}
.xy-pop-gift .xy-input-box .xy-icon-phone {display: inline-block;background-position: 0 -1028px;width: 22px;height: 22px;vertical-align: middle;margin: -3px 0 0 0;}
.xy-pop-gift .xy-input-box .xy-icon-verify {display: inline-block;background-position: 0 -1050px;width: 22px;height: 22px;vertical-align: middle;margin: -3px 0 0 0;}
.xy-pop-gift .xy-input-box label {font-size: 14px;color: #666;display: inline-block;width: 70px;margin: 0 0 0 4px;text-align: left;}
.xy-pop-gift .xy-input-box input {border: 1px solid #c5c5c5;-webkit-appearance: none;border-radius: 5px;width: 178px;height: 38px;line-height: 38px;text-indent: 10px;box-sizing: content-box;vertical-align: top;}
.xy-pop-gift .xy-input-box input.xy-highlight {border-color: #eb4e37;}
.xy-pop-gift .xy-input-box .xy-tel-input {width: 106px;}
.xy-pop-gift .xy-input-box select {width: 55px; height: 38px; border: 1px solid #c5c5c5; background: #fff;box-sizing: content-box;vertical-align: top;font-size: 14px;color: #888;margin: 0 10px 0 0;border-radius: 5px;}
.xy-pop-gift .xy-input-box .xy-btn-blue {display: inline-block;width: 90px;line-height: 40px;background: #5595fa;font-size: 14px;text-align: center;color: #fff;border-radius: 5px;margin: 0 0 0 10px;}
.xy-pop-gift .xy-input-box .xy-btn-blue:hover {background: #eb4e37}
.xy-pop-gift .xy-input-box p {text-align: left; font-size: 14px; color: #eb4e37; padding: 4px 0 0 98px;}
.xy-pop-gift .xy-btn-open {display: block;width: 154px;line-height: 40px;background: #5595fa;text-align: center;font-size: 18px;color: #fff;margin: -5px auto 0;border-radius: 99px;}
.xy-pop-gift .xy-btn-open:hover {background: #eb4e37}
.xy-pop-gift .xy-btn-open.xy-disabled {background: #ccc}
.xy-pop-gift .xy-icon-key {background-position: 0 -1007px;width: 12px;height: 21px;display: inline-block;vertical-align: middle;margin: -3px 10px 0 0;}
.xy-pop-gift .xy-notice {color: #eb4e37;font-size: 14px;text-align: center;margin: 5px 0 0;}
.xy-pop-gift .xy-btn-close {background-position: 0 -1072px;display: block;width: 40px;height: 40px;position: absolute;top: -12px;right: -12px;}

.xy-pop-gift-open .xy-pop-pic {background-position: 0 -750px;width: 600px;height: 257px;position: relative;}
.xy-pop-gift-open .xy-pop-pic p {font-size: 14px;color: #888;text-align: center;width: 480px;line-height: 26px;background: #f3f8ff;position: absolute;bottom: 20px;left: 50%;margin-left: -240px;}
.xy-pop-gift-open .xy-pop-pic p span {color: #5595fa;}
.xy-pop-gift-open .xy-step {position: relative;width: 480px;margin: 0 auto 10px;}
.xy-pop-gift-open .xy-step h3 {font-size: 20px;text-align: center; color: #333333; margin: 0 auto;background: #fff;width: 170px;position: relative;}
.xy-pop-gift-open .xy-step .xy-line {display: block;position: absolute;width: 480px;height: 1px;background: #ddd;top: 17px;left: 0;}
.xy-pop-gift-get .xy-pop-pic-1 {background-position: 0 0;width: 600px;height: 250px;position: relative;}
.xy-pop-gift-get .xy-pop-pic-1 h3 {font-size: 20px; font-weight: bold; color: #fff; width: 159px; line-height: 26px; position: absolute; top: 42px; left: 288px; text-align: center;}
.xy-pop-gift-get .xy-pop-pic-2 {background-position: 0 -250px;width: 600px;height: 250px;position: relative;}
.xy-pop-gift-get .xy-pop-pic-2 h3 {font-size: 20px; font-weight: bold; color: #fff; width: 130px; line-height: 26px; position: absolute; top: 43px; left: 192px; text-align: center;}
.xy-pop-gift-get .xy-pop-pic-3 {background-position: 0 -500px;width: 600px;height: 250px;position: relative;}
.xy-pop-gift-get .xy-pop-pic-3 h3 {font-size: 20px; font-weight: bold; color: #fff; width: 170px; line-height: 26px; position: absolute; top: 43px; left: 291px; text-align: center;}
.xy-pop-gift-get p {color: #666;font-size: 20px;text-align: center;}
.xy-pop-gift-get p span {color: #5697fa;}
.xy-pop-gift-get .xy-btn-check {color: #888;font-size: 14px;display: block;margin: 0 auto 10px;text-decoration: underline;width: 67px;}
.xy-pop-gift-get h4 {font-size: 16px;color: #888;padding: 20px 0;border-top: 1px solid #e5e5e5;width: 490px;margin: 0 auto;}
.xy-pop-gift-get .xy-more-list {width: 510px;margin: 0 auto;padding-left: 20px;}
.xy-pop-gift-get .xy-more-list li {float: left;margin: 0 20px 0 0;position: relative;}
.xy-pop-gift-get .xy-more-list li img {border: 1px solid #cdcdcd;display: block;}
.xy-pop-gift-get .xy-more-list li p {font-size: 12px;text-align: center;width: 100%;line-height: 24px;background: #b6b6b6;}
.xy-pop-gift-get .xy-more-list li a {display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.xy-pop-gift-get .xy-more-list li:hover p {background: #5596fa;color: #fff;}
.xy-pop-gift-get .xy-more-list li:hover img {border-color: #5596fa}
/* E 神秘宝箱弹窗 */

.ico_topbar_1{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/xy_score_201707063.png) no-repeat 0 0;width:20px;height:20px;display:inline-block;vertical-align:middle;margin:0 6px}
a:hover .ico_topbar_1{background:url(http://ossweb-img.qq.com/images/tgclub/web201410/xy_score_hover_201707063.png) no-repeat 0 0;width:20px;height:20px;display:inline-block;vertical-align:middle;margin:0 6px}


/* E 微信登录 */

			.dn{display: none;}
		
			.maks{background: rgba(255,254,251,0.85); position: fixed; width: 100%; height: 100%; top: 0; left: 0;   z-index: 999;}
			.login-box{width: 650px; height: 390px; background: #FFFFFF; position: fixed; left: 50%; top: 50%; z-index: 999; margin-left: -310px; margin-top: -190px;box-shadow: 0px 0px 8px 0px #8888884a;}
			.login-list li{display: inline-block;  font-size: 16px; line-height: 45px; width: 140px; text-align: center; cursor: pointer;}
			.login-list{height: 44px; border-bottom: 1px solid #468dff;}/*  */
			.login-listHover1{border-bottom: 1px solid #468dff;}
			.login-listHover2{border-bottom: 1px solid #13d210;}
			
			.login-list .login-hover1{border-top: 3px solid #468dff; border-bottom: 2px solid #fff; height: 40px;}
			.login-list .login-hover2{border-top: 3px solid #13d210; border-bottom: 2px solid #fff; height: 40px;}
			.qq-login{overflow: hidden; position: relative;}
			.content-module{float: left; margin-top: 50px; width: 360px;}
			.qq-icon{width: 250px; text-align: center;  margin-top:70px; float: left;margin-left: 30px; position: relative;z-index: 999;}
			.qq-icon img{}
			.wx-icon{width:250px; text-align: center; margin-top: 75px; float: left; margin-left: 30px;}
			.wx-icon img{margin-top: 23px;}
			.wx-ewm{text-align: center;}
			.size{font-size: 14px; text-align: center; color: #999999; margin-top: 20px;}
			.close{background: url(//ossweb-img.qq.com/images/chanpin/tgclub/public/qqwxlogin/close.png) no-repeat; width: 20px; height: 20px; position: absolute; top: 15px; right: 10px; cursor: pointer;}
			.qq-iframe{float: left;padding:  10px 0; margin-right: 20px; margin-left: -20px; position: relative;z-index: 99;}
			.wx-iframe{float: left; margin-top: -8px; margin-left: 37px;}
			.qq-size{font-size: 12px; line-height: 23px; color: #666; margin-top: 10px;}
			.wx-iconBox{height: 110px;}
			.wx-tit{text-align: center; padding-top: 17px; font-size: 20px; color: #333; font-family: helvetica,arial,微软雅黑,华文黑体;}
			
			.m_login .qq-box img{width: 13px; height: 14px; vertical-align: middle;}
			.m_login .qq-box span ,.m_login .wx-box span{font-size: 12px; color: #999999; vertical-align: middle; margin-left: 5px;}
			.m_login .wx-box img{width:20px; height: 15px; vertical-align: middle;}
			.m_login .pile-body{margin-left: 108px; margin-top: 49px;}
